@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
  --red: #FF6D60;
  --yellow: #F7D060;
  --yellow-soft: #F3E99F;
  --green: #98D8AA;
}

a {
	text-decoration: none;
}

a:hover {
	color: var(--red);
}

* {
	/* margin: 0px;
	padding: 0px;
	*/
	box-sizing: border-box;
    font-family: 'Inter', sans-serif;
	/* border: 1px solid red; */
}

code {
	font-family: 'Fira Code', monospace;
}

.navbar-container {
	display: flex;
	justify-content: center;
}

.navbar {
	width: 90%;
	display: flex;
	justify-content: space-between;
}

.navbar > div {
	padding: 0 20px;
}

/* put everything but this class at the left */
.webpage-name {
	margin-right: auto;
}

.menu-container {
	display: flex;
	justify-content: center;
}

.menu {
	display: flex;
	width: 80%;
}

.menu div {
	width: 100%;
}

.projects-container {
	margin-right: 10px;
}

.content {
	width: 80%;
	margin: auto;
}

.content {
	box-sizing: content-box;
	padding: auto;
	margin: auto;
}

.footer-list {
	list-style: none;
	text-align: center;
}
