@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
  --red: #FF6D60;
  --yellow: #F7D060;
  --yellow-soft: #F3E99F;
  --green: #98D8AA;
}

a {
	text-decoration: none;
}

a:hover {
	color: var(--red);
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
    font-family: 'Inter', sans-serif;
	/* border: 1px solid red; */
}

code {
	font-family: 'Fira Code', monospace;
}

.navbar-container {
	margin: 50px 0;
	display: flex;
	justify-content: center;
}

.navbar {
	width: 90%;
	display: flex;
	justify-content: space-between;
}

.navbar > div {
	padding: 0 20px;
}

/* put everything but this class at the left */
.webpage-name {
	margin-right: auto;
}

.content-container {
	display: flex;
	justify-content: center;
}

.content {
	display: flex;
	width: 80%;
	justify-content: space-between;
}

.content div {
	width: 100%;
}

.content p {
	margin-bottom: 8px;
}

.projects-container {
	margin-right: 10px;
}

.footer-container ul {
	list-style: none;
}

.footer-list {
	text-align: center;
}
